<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button color="medium" expand="block" fill="clear" shape="round" [routerLink]="['/create-lesson']">
        <ion-icon slot="start" name="chevron-back-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title style="text-align:center;">{{title}}</ion-title>
    <ion-buttons *ngIf="title == '选择学院' " slot="end">
      <ion-button color="medium" expand="block" fill="clear" shape="round" (click)="complete()">
        <ion-label>完成</ion-label>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div *ngIf="title == '选择学校' ">
    <ion-list lines="full" *ngFor="let school of school[0];let i = index">
      <ion-item (click)="selectSchool(i)" routerLink="/lesson-school"
        [queryParams]="{title:'选择学院',property:'选择学院',pageNum:pageNum}">
        {{school}}
      </ion-item>

    </ion-list>
  </div>
  <div *ngIf="title == '选择学院' ">
    <ion-radio-group>
      <ion-list lines="full" *ngFor="let academy of academy[0];let i = index">
        <ion-item (click)="selectAcademy(i)">
          <ion-radio slot="end">
          </ion-radio>
          {{academy}}
        </ion-item>

      </ion-list>

    </ion-radio-group>
    <!-- <ion-list lines="full" *ngFor="let academy of academy[0];let i = index">
      <ion-item (click)="selectAcademy(i)">
        {{academy}}
      </ion-item>
    
    </ion-list> -->
  </div>

</ion-content>