.background{
    height:100%;
    width:100%;
    background-image:url(/assets/img/welcome.png);
    background-repeat:no-repeat;
    background-size:100% 100%;
    // background-size: contain;
    
}
.fixed-bottom{
    position: absolute;
    // height: 8%;
    bottom: 20%;
    left: 30%;
    right: 30%;
    z-index: 10;
  }