<ion-content mode="ios">
  
  <div class="background">
    <form (ngSubmit)="onLogin(loginForm)" #loginForm="ngForm" novalidate>
      <ion-grid>
        
        <ion-row class="row" style="margin-top:80px">
          <ion-segment mode="md" name="tab" [(ngModel)]="tab" style="background-color: rgba(225,225,225,0);">
            <ion-segment-button value="tab2">
              <ion-label style="font-size: 18px;">验证码登录</ion-label>
            </ion-segment-button>
            <ion-segment-button value="tab1">
              <ion-label style="font-size: 18px;">密码登录</ion-label>
            </ion-segment-button>
          </ion-segment>
        </ion-row>
        <div [ngSwitch]="tab">

          <div *ngSwitchCase="'tab1'">
            <ion-row class="row" style="margin-top:20px">
              <!-- <ion-icon name="mail-outline"></ion-icon>
              <ion-label>&nbsp;&nbsp;邮箱/手机号/用户名</ion-label> -->
            </ion-row>
            <ion-row class="row">
              <ion-input name="email" type="tel" class="input-user" placeholder="请输入账号" required [(ngModel)]="login.email" #email=ngModel>
                <ion-icon name="people-outline" class="input_icon"></ion-icon>
              </ion-input>
            </ion-row>
            <div class="signup_warn">
              <ion-text text-left color="danger" *ngIf="email.invalid && email.touched">
                <p class="warn" [hidden]="!email.errors?.required" padding-start>请输入账号</p>
                <!-- <p class="warn" [hidden]="!email.errors?.pattern" padding-start>请输入正确的邮箱</p> -->
              </ion-text>
            </div>
            
            <ion-row class="row">
              <ion-input name="password" type="password" class="input-user"  placeholder="请输入密码" [(ngModel)]="login.password" #password=ngModel>
                <ion-icon name="lock-closed-outline" class="input_icon"></ion-icon>
              </ion-input>
            </ion-row>
            <!-- <div class="signup_warn">
              <ion-text text-left color="danger" *ngIf="password.invalid && password.touched">
                <p class="warn" [hidden]="!password.errors?.required" padding-start>请输入密码</p>
                <p class="warn" [hidden]="!password.errors?.pattern" padding-start>6至16位，由数字、英文、符号三种字符类型构成，至少包含两种类型字符</p>
              </ion-text>
            </div> -->
            <ion-row class="row" style="display: block;text-align: center;">
              <ion-button expand="full" color="secondary" type="submit" class="btn btn-login" [disabled]="loginForm.invalid"> 登录 </ion-button>
            </ion-row>
            <ion-row class="row" >
              <ion-col>
                <ion-label color="light" style="display: block;text-align: left;"[routerLink]="['/register']">注册账号</ion-label>
              </ion-col>
              <ion-col>
                <ion-label color="light" style="display: block;text-align: right;" [routerLink]="['/forget-password']">忘记密码？</ion-label>
              </ion-col>
            </ion-row>
           
          </div>

          <div *ngSwitchCase="'tab2'">
            <ion-row  class="row" style="margin-top:20px;"></ion-row>
            <ion-row class="row">
              <ion-input name="email" type="text" class="input-user" placeholder="请输入手机号" required
              pattern="^\w+([-+.]\w+)*@\w+([-.]\w+)*\.\w+([-.]\w+)*$" [(ngModel)]="login.email" #email="ngModel">
              <ion-icon name="phone-portrait-sharp" class="input_icon"></ion-icon>
              </ion-input>
            </ion-row>
            <div class="signup_warn">
              <ion-text text-left color="danger" *ngIf="email.invalid && email.touched">
                <p class="warn" [hidden]="!email.errors?.required" padding-start>请输入手机号</p>
                <p class="warn" [hidden]="!email.errors?.pattern" padding-start>请输入正确的手机号</p>
              </ion-text>
            </div>
            <ion-row class="row" style="margin-top:5px;" >
              <ion-input name="code" type="text" class="verify_text" [(ngModel)]="verify_code" placeholder="请输入验证码">
                <ion-icon name="mail-open-outline" class="input_icon"></ion-icon>
              </ion-input>
              <ion-button color="secondary" (click)="onSendSMS()" [disabled]="!verifyCode.disable">
                {{verifyCode.verifyCodeTips}}</ion-button>
            </ion-row>
            <ion-row class="row" style="display: block;text-align: center;margin-top:5px;">
              <ion-button expand="full" color="secondary" type="submit" class="btn btn-login" [disabled]="loginForm.invalid"> 登录 </ion-button>
            </ion-row>
            <ion-row class="row" style="display: block;text-align: center;margin-top:15px;">
              <ion-label color="light" [routerLink]="['/register']">注册账号</ion-label>
            </ion-row>
          </div>
          

        </div>
        
        <!-- <ion-row class="row">
          <ion-col></ion-col>
          <ion-col></ion-col>
          <ion-col (click)="loginByQQ()"><img style="width:80%" src="../../../../assets/icon/QQ.png"></ion-col>
          <ion-col></ion-col>
          <ion-col></ion-col>
        </ion-row> -->
      </ion-grid>
    </form>
  </div>

</ion-content>