<ion-header mode="ios">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button color="medium" expand="block" fill="clear" shape="round"[routerLink]="['/lesson-tabs/member']"
        [queryParams]="{isFlash:'1'}">
        <ion-icon slot="start" name="chevron-back-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title  style="text-align:center;margin-right: 30px;">签到</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content mode="ios">
  <ion-item-divider class="row-text">
    <ion-label>选择签到方式</ion-label>
    <ion-note slot="end" color="tertiary" style="padding: 10px 0 0 0;font-size: 15px;margin-right: 10px;"
      (click)="checkExplain()">签到方式说明</ion-note>
  </ion-item-divider>
  <ion-grid>

    <ion-row>
      <ion-col class="col-img" (click)="openPicker(1, 59, timeOptions)">
        <img class="limit-sign-in" style="color:#ed9c57" src="../../../../assets/img/limit.png" alt="">
        <h6 style="color:#4BA5EB;text-align: center;">限时签到</h6>
      </ion-col>
      <ion-col class="col-img" (click)="gotoCheckin(0)">
        <img class="once-sign-in" style="color:#ed9c57;" src="../../../../assets/img/once.png" alt="">
        <h6 style="color:#ef7f65;text-align: center;">一键签到</h6>
      </ion-col>
    </ion-row>
    
  </ion-grid>
  <ion-item-divider class="row-text">
    <ion-label>历史签到记录</ion-label>
    <!-- <ion-note slot="end" color="tertiary" style="padding: 10px 0 0 0;font-size: 15px;margin-right: 10px;">统计</ion-note> -->
    <!-- <ion-note slot="end" color="tertiary" style="padding: 10px 0 0 0;font-size: 15px;margin-right: 10px;" (click)="checkExplain()">签到方式说明</ion-note> -->
  </ion-item-divider>
  <ion-list lines="full">
    <ion-item *ngFor="let item of record" (click)="checkHistoryDetail(item)" detail>
      <ion-label *ngIf="item.type==0" slot="start">
        <h4>{{item.startTime.substring(0,10)}} {{item.dayOfWeek}} </h4>
        <p>{{item.startTime.substring(11,16)}}-{{item.endTime.substring(11,16)}} 一键签到</p>
      </ion-label>
      <ion-label *ngIf="item.type==1" slot="start">
        <h4>{{item.startTime.substring(0,10)}} {{item.dayOfWeek}} </h4>
        <p>{{item.startTime.substring(11,16)}}-{{item.endTime.substring(11,16)}} 限时签到</p>
      </ion-label>
      
      <ion-label slot="end" style="text-align: right;"><p>{{item.signedCount}}人/{{item.total}}人</p></ion-label>
    </ion-item>
  </ion-list>

</ion-content>