<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <div *ngIf="flag=='0'" routerLink="/lesson-tabs/mylesson" [queryParams]="{flush:value}">
        <ion-button color="medium" expand="block" fill="clear" shape="round">
          <!-- <ion-button color="medium" expand="block" fill="clear" shape="round" [routerLink]="['/lesson-tabs']"> -->
          <ion-icon slot="start" name="chevron-back-outline"></ion-icon>
        </ion-button>
      </div>
      <div *ngIf="flag=='1'">
        <ion-back-button text="返回"></ion-back-button>
      </div>
    </ion-buttons>
    <ion-title color="medium" style="text-align:center;margin-right: 30px;">课程码</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card style="text-align: center;border: solid 1px var(--ion-color-secondary-tint);">
    <ion-card-header>
      <ion-item lines="none" style="text-align: center;">
        <ion-label style="font-size: 20px;">扫一扫，加入班课！</ion-label>
      </ion-item>
      <div>
        <ngx-qrcode [value]='createdCode' qrc-class="aclass" width=280 height=280 qrc-errorCorrectionLevel="L">
        </ngx-qrcode>
      </div>
    </ion-card-header>
    <ion-card-content>
      <ion-item lines="none" style="text-align: center;">
        <ion-label style="font-size: 20px;font-weight: bold;">班课号：{{lessonCode}}</ion-label>
      </ion-item>
    </ion-card-content>
  </ion-card>
  <!-- <ion-item lines="none"> -->
  <ion-row class="row" *ngIf="flag=='0'">
    <ion-button expand="full" color="secondary" class="btn btn-login" routerLink="/lesson-tabs/mylesson"
      [queryParams]="{flush:value}"> 返回 </ion-button>
  </ion-row>
  <ion-row class="row" *ngIf="flag=='1'">
    <ion-button expand="full" color="secondary" class="btn btn-login" routerLink="/tabs/detail"> 返回 </ion-button>
  </ion-row>
  <!-- </ion-item> -->
</ion-content>
<!-- <ion-footer style="text-align: center;"></ion-footer>
  <ion-button color="secondary" style="width: 90%;" [[routerLink]="['/lesson-tabs']">
      返回班课列表
  </ion-button>
</ion-footer> -->