.lesson_img{
    width: 100px;
}

.my-thum{
    text-align: center;
    background-image:url(/assets/img/login.png);
    // border-radius: 5px;
    width: 80px;
    height:80px;
    margin: auto;
    margin-top:10px;
    border-radius: 5px;
}

.my-thum-icon{
    margin: auto;
    line-height: 85px;
    font-size: 30px;
    width: 50%;
    height: 100%;
}