<ion-header mode="ios">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button color="medium" expand="block" fill="clear" shape="round" [routerLink]="['/join-by-code']">
        <ion-icon slot="start" name="chevron-back-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title  style="text-align:center;margin-right: 30px;">加入班课</ion-title>
  </ion-toolbar>
  <!-- <ion-card mode="ios" style="text-align: center;"> -->
    <ion-item lines="none">
      <ion-thumbnail class="my-thum">
        <img src={{lesson.picture}}>
      </ion-thumbnail>
    </ion-item>
    <ion-item lines="none">
      <ion-label style="text-align: center;margin-top: 8px;">
        <p>{{lesson.className}}</p>
        <p>{{lesson.name}}</p>
      </ion-label>
    </ion-item>

  <!-- </ion-card> -->
</ion-header>

<ion-content>
  <ion-list>
    <ion-item lines="full">
      <ion-label>老师</ion-label>
      <ion-input disabled>&nbsp;&nbsp;&nbsp;{{lesson.teacherName}}</ion-input>
    </ion-item>
    <ion-item lines="full">
      <ion-label>类型</ion-label>
      <ion-input disabled>&nbsp;&nbsp;&nbsp;{{lesson.schoolLesson}}</ion-input>
    </ion-item>
  </ion-list>
</ion-content>
<ion-footer style="text-align: center;">
  <ion-button color="secondary" style="width: 95%;" (click)="confirmJoin()">
    加入
  </ion-button>
</ion-footer>