<ion-header>
  <ion-toolbar>
    <ion-title style="text-align:center;">我的</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card mode="ios">
    <ion-grid>
      <ion-row>
        <ion-col size="2.5">
          <ion-avatar>
            <img src={{user.userFace}}>
          </ion-avatar>
          <!-- <ion-thumbnail>
                      <img src="../../../../assets/icon/login.png">
                  </ion-thumbnail> -->
        </ion-col>
        <ion-col size="9.5">
          <ion-item lines="none" detail [routerLink]="['/user-info']">
            <ion-label>
              <h3>{{user.phone}}{{isTeacher}}</h3>
              <p *ngIf="user.roleId == '3'">经验值&nbsp;&nbsp;{{user.exp}}</p>
            </ion-label>
          </ion-item>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-card>

  <!-- <ion-card mode="ios">
      <ion-grid>
        <ion-row>
          <ion-col size="12">
            <ion-item lines="none"  >
              <ion-label *ngIf="user.role == '3'">
                经验值:&nbsp;&nbsp;{{user.exp}}
            </ion-label>
            </ion-item>
          </ion-col>
        </ion-row>   
      </ion-grid>
  </ion-card> -->

  <ion-card mode="ios">
    <ion-grid inset="true">
      <ion-row>
        <ion-col size="12">
          <ion-item lines="full" detail [routerLink]="['/change-password']">
            <ion-label>修改密码</ion-label>
          </ion-item>
        </ion-col>
        <ion-col size="12">
          <ion-item lines="full" detail>
            <ion-label>关于我们</ion-label>
          </ion-item>
        </ion-col>
        <ion-col size="12">
          <ion-item lines="full" detail>
            <ion-label>联系客服</ion-label>
            <a slot="end" href="tel:15898509336">15898509336</a>
          </ion-item>
        </ion-col>
        <ion-col size="12">
          <ion-item lines="full" detail>
            <ion-label>版本号</ion-label>
            <ion-note slot="end">0.6.9</ion-note>
          </ion-item>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-card>

  <ion-card mode="ios">
    <ion-grid inset="true">
      <ion-row>
        <ion-col size="12">
          <ion-item lines="none" (click)="onLogout()" detail>
            <ion-label>
              退出当前账号
            </ion-label>
          </ion-item>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-card>

</ion-content>