<!-- <ion-app> -->
<!-- <ion-backdrop style="z-index: 100;"></ion-backdrop> -->
<ion-header mode="ios">
  <ion-toolbar>
    <ion-title *ngIf="tab=='tab1'">我创建的班课列表</ion-title>
    <ion-title *ngIf="tab=='tab2'">我加入的班课列表</ion-title>
    <!-- <ion-segment mode="md" [(ngModel)]="tab" style="background-color: rgba(225,225,225,0);width:60%;float:left">
          <ion-segment-button value="tab1" (click)="getCreateLesson()">
              <ion-label> 我创建的</ion-label>
          </ion-segment-button>
          <ion-segment-button value="tab2" (click)="getMyLesson()">
              <ion-label>我加入的</ion-label>
          </ion-segment-button>
      </ion-segment> -->
    <ion-button slot="end" (click)="addLesson()" fill="clear">
      <ion-icon slot="icon-only" name="add-outline"></ion-icon>
    </ion-button>
  </ion-toolbar>
  <ion-toolbar>
    <ion-searchbar style="text-align: center;" mode="ios" class="searchbar" *ngIf="tab=='tab1'" placeholder="搜索"
      (click)="search('create')">
    </ion-searchbar>
    <ion-searchbar style="text-align: center;" mode="ios" class="searchbar" *ngIf="tab=='tab2'" placeholder="搜索"
      (click)="search('join')">
    </ion-searchbar>
  </ion-toolbar>
</ion-header>

<ion-content mode="ios">
  <ion-refresher *ngIf="flag=='1'" slot="fixed" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>
  <div [ngSwitch]="tab">
    <div *ngSwitchCase="'tab1'">
      <div *ngIf="flag=='1'">
        <ion-list id="list" lines="full" *ngFor="let item of list;let i = index">
          <!-- <ion-item-divider style="padding-left:0px"> -->
          <ion-item style="width:100%">
            <ion-grid>
              <ion-row>
                <!-- 获取点击的班课名和班课号 -->
                <ion-col size="2">
                  <ion-thumbnail class="thum" (click)="getCurrentLesson(i)" [routerLink]=" [ '/tabs/member'] "
                    [queryParams]="{isFlash:'1'}">
                    <!-- <ion-icon class="thum-icon" color="light" name="cloud-circle-outline">
                                    </ion-icon> -->
                    <img src={{item.picture}}>
                  </ion-thumbnail>
                </ion-col>
                <ion-col size="6.5">
                  <ion-label (click)="getCurrentLesson(i)" [routerLink]=" [ '/tabs/member'] "
                    [queryParams]="{isFlash:'1'}">
                    <h3>&nbsp;&nbsp;&nbsp;{{item.name}}&nbsp;&nbsp;</h3>
                    <p>&nbsp;&nbsp;&nbsp;{{item.className}}&nbsp;&nbsp;</p>
                    <p>&nbsp;&nbsp;&nbsp;{{item.term}}</p>
                  </ion-label>
                </ion-col>
                <ion-col size="3.5">
                  <ion-label style="margin-top: auto;padding-left:5px">
                    <!-- 发起签到，点击跳转到签到页面 -->
                    <!-- <p>&nbsp;&nbsp;</p> -->
                    <p (click)="getCurrentLesson(i)" [routerLink]=" [ '/tabs/member'] " [queryParams]="{isFlash:'1'}"
                      style="color:#50c8ff">{{item.courseCode}}</p>
                    <ion-label style="text-align: -webkit-right;float: left;" (click)="checkin(i)">
                      <ion-icon name="shield-checkmark-outline"></ion-icon>
                    </ion-label>
                    <ion-label style="text-align: -webkit-left;" (click)="checkin(i)">
                      <p style="font-size: 12px;">
                        发起签到
                      </p>
                    </ion-label>
                  </ion-label>
                </ion-col>
              </ion-row>
            </ion-grid>
            <!-- <ion-icon name="chevron-forward-outline" style="color:#a09f9f"></ion-icon> -->
          </ion-item>
          <!-- </ion-item-divider> -->
        </ion-list>
        <ion-item *ngIf="endflag=='1'" lines="none">
          <ion-label style="text-align: center;">
            <p>你已经看到我的底线啦~</p>
          </ion-label>
        </ion-item>
        <ion-infinite-scroll threshold="10%" id="infinite-scroll" (ionInfinite)="loadData($event)">
          <ion-infinite-scroll-content loading-spinner="bubbles" loading-text="加载中...">
          </ion-infinite-scroll-content>
        </ion-infinite-scroll>
      </div>
      <div *ngIf="flag=='0'">
        <ion-grid>
          <ion-item lines="none"></ion-item>
          <ion-item lines="none"></ion-item>
          <ion-row>
            <ion-col></ion-col>
            <ion-col>
              <img src="../../../../assets/img/empty.png">
            </ion-col>
            <ion-col></ion-col>
          </ion-row>
          <ion-row>
            <!-- <ion-col></ion-col> -->
            <ion-col>
              <ion-label style="text-align: center;">
                <p>你还没有创建班课</p>
                <!-- <p>快去创建一个吧~</p> -->
                <p>快点击右上方相应图标创建班课吧~</p>
              </ion-label>
              <!-- <p></p>
                            <ion-toolbar>
                                <ion-button expand="full" class="btn" type="submit" color="secondary"> 创建班课</ion-button>
                            </ion-toolbar> -->
            </ion-col>
            <!-- <ion-col></ion-col> -->
          </ion-row>

        </ion-grid>
      </div>
    </div>
    <div *ngSwitchCase="'tab2'">
      <div *ngIf="flag == '1'">
        <ion-list lines="full" *ngFor="let item of list1;let i = index">
          <!-- <ion-item-divider style="padding-left:0px"> -->
          <!-- <ion-item [routerLink]=" [ '/tabs/member'] "   [queryParams]="{isFlash:'1'}" (click)="getCurrentLesson(i) "> -->
          <ion-item style="width:100%">
            <ion-grid>
              <ion-row>
                <ion-col size="2">
                  <ion-thumbnail class="thum" (click)="getCurrentLesson(i)" [routerLink]=" [ '/tabs/member'] "
                    [queryParams]="{isFlash:'1'}">
                    <!-- <ion-icon class="thum-icon " color="light " name="cloud-circle-outline">
                                      </ion-icon> -->
                    <img src={{item.picture}}>
                  </ion-thumbnail>
                </ion-col>
                <ion-col size="7">
                  <ion-label (click)="getCurrentLesson(i)" [routerLink]=" [ '/tabs/member'] "
                    [queryParams]="{isFlash:'1'}">
                    <h3>&nbsp;&nbsp;&nbsp;{{item.name}}</h3>
                    <p>&nbsp;&nbsp;&nbsp;{{item.teacherName}}&nbsp;&nbsp;{{item.className}}</p>
                    <p>&nbsp;&nbsp;&nbsp;{{item.term}}</p>
                  </ion-label>
                </ion-col>
                <ion-col size="3">
                  <ion-label style="text-align: end;" (click)="checkin(i)">
                    <p>&nbsp;&nbsp;&nbsp;</p>
                    <p>
                      <ion-icon name="shield-checkmark-outline"></ion-icon>
                      签到
                    </p>
                  </ion-label>

                </ion-col>
              </ion-row>
            </ion-grid>
          </ion-item>
          <!-- </ion-item-divider> -->
        </ion-list>
        <ion-item *ngIf="endflag=='1'" lines="none">
          <ion-label style="text-align: center;">
            <p>你已经看到我的底线啦~</p>
          </ion-label>
        </ion-item>
        <ion-infinite-scroll threshold="10% " id="infinite-scroll " (ionInfinite)="loadData($event) ">
          <ion-infinite-scroll-content loading-spinner="bubbles " loading-text="加载中... ">
          </ion-infinite-scroll-content>
        </ion-infinite-scroll>
      </div>
      <div *ngIf="flag=='0'">
        <ion-grid>
          <ion-item lines="none"></ion-item>
          <ion-item lines="none"></ion-item>
          <ion-row>
            <ion-col></ion-col>
            <ion-col>
              <img src="../../../../assets/img/empty.png">
            </ion-col>
            <ion-col></ion-col>
          </ion-row>
          <ion-row>
            <!-- <ion-col></ion-col> -->
            <ion-col>
              <ion-label style="text-align: center;">
                <p>你还没有加入班课</p>
                <!-- <p>快去加入一个吧~</p> -->
                <p>快点击右上方相应图标加入班课吧~</p>
              </ion-label>
              <!-- <p></p>
                        <ion-toolbar>
                            <ion-button expand="full" class="btn" type="submit" color="secondary"> 加入班课</ion-button>
                        </ion-toolbar> -->
            </ion-col>
            <!-- <ion-col></ion-col> -->
          </ion-row>
        </ion-grid>
      </div>
    </div>

  </div>


</ion-content>
<!-- </ion-app> -->