<ion-content>
  <ion-tabs>
      <ion-tab-bar slot="bottom" style="border-top: solid 1px #80808066">
          <ion-tab-button tab="mylesson">
              <ion-icon name="cloudy-outline"></ion-icon>
              <ion-label>班课</ion-label>
          </ion-tab-button>
          
          <ion-tab-button tab="">
            <ion-icon name="aperture-outline"></ion-icon>
            <ion-label>发现</ion-label>
          </ion-tab-button>

          <ion-tab-button tab="user-inf">
              <ion-icon name="people-outline"></ion-icon>
              <ion-label>我的</ion-label>
          </ion-tab-button>
      </ion-tab-bar>

  </ion-tabs>
</ion-content>
