.row {
    height: 50px;
    width: 100%;
}

.btn-exit {
    border: solid 1px red;
}

.lesson-row {
    margin: auto;
    width: 100%;
    margin-top: 20px;
    width: 95%;
    border-radius: 10px;
}

.lesson-btn {
    margin: auto;
    width: 100%;
    // height: -webkit-fill-available;
}

// .end-lesson{
//     border:solid 1px red;
//     border-radius: 10px;
// }
// .del-lesson{
//     border:solid 1px gray;
//     border-radius: 10px;
// }