<ion-content>
  <div class="background">
    <form (ngSubmit)="onVerify(verifyForm)" #verifyForm="ngForm" novalidate>
      <ion-grid>
        <ion-row>
          <ion-button color="light" expand="block" fill="clear"  [routerLink]="['/login']">
            <ion-icon slot="start" name="chevron-back-outline"></ion-icon>
            返回
          </ion-button>
        </ion-row>
        <ion-row class="row" style="display: block;text-align: center;margin-top:30px;">
          <ion-label style="font-size: 30px;">找回密码</ion-label>
        </ion-row>
        
        <ion-row style="margin-top:20px;"></ion-row>
        
        <!-- <ion-row class="row">
          <ion-input name="email" type="text" class="input-user" placeholder="请输入邮箱" required
            pattern="^\w+([-+.]\w+)*@\w+([-.]\w+)*\.\w+([-.]\w+)*$" [(ngModel)]="emailVerify" #email="ngModel">
          </ion-input>
        </ion-row> -->
        <ion-row class="row" >
          <ion-input name="email" type="text" class="input-user" [(ngModel)]="emailVerify" placeholder="请输入手机号" required
            pattern="^\w+([-+.]\w+)*@\w+([-.]\w+)*\.\w+([-.]\w+)*$" >
            <ion-icon name="phone-portrait-sharp" class="input_icon"></ion-icon>
          </ion-input>
        </ion-row>
        <ion-row class="row" style="margin-top:5px;">
          <ion-input name="code" type="text" class="verify_text" [(ngModel)]="verify_code" placeholder="请输入验证码">
            <ion-icon name="mail-open-outline" class="input_icon"></ion-icon>
          </ion-input>
          <ion-button color="secondary" (click)="onSendSMS()" [disabled]="!verifyCode.disable">{{verifyCode.verifyCodeTips}}</ion-button>
        </ion-row>
        <ion-row class="row" style="margin-top:5px;">
          <ion-input name="pwd1" type="password" class="input-user" placeholder="请输入新密码" required
          pattern="^(?!^[0-9]+$)(?!^[A-z]+$)(?!^[^A-z0-9]+$)^[^\s\u4e00-\u9fa5]{6,16}$" [(ngModel)]="forgetinf.password1" #pwd2="ngModel">
            <ion-icon name="lock-closed-outline" class="input_icon"></ion-icon>
          </ion-input>
        </ion-row>

        <ion-row class="row" >
          <ion-input name="pwd2" type="password" class="input-user" placeholder="请再次输入新密码" required
          pattern="^(?!^[0-9]+$)(?!^[A-z]+$)(?!^[^A-z0-9]+$)^[^\s\u4e00-\u9fa5]{6,16}$" [(ngModel)]="forgetinf.password2" #pwd2="ngModel">
            <ion-icon name="checkmark-done-circle-outline" class="input_icon"></ion-icon>
          </ion-input>
        </ion-row>
        <ion-row class="row">
          <ion-button color="secondary" class="btn-verify" type="submit"> 确认
          </ion-button>
        </ion-row>
      </ion-grid>
    </form>
  </div>

</ion-content>