.cover{
    margin: auto;
    line-height: 85px;
    font-size: 30px;
    width: 85px;
    height: 85px;
    border-radius: 8px;
}

.icon{
    width: 80%;
    height: 100%;
}

.save-row{
    margin: auto;
    width: 100%;
    margin-top: 20px;
    width: 95%;
    border-radius: 10px;
    border: solid 1px #36abe0;
    margin: auto;
}

.save-btn{
    margin: auto;
    width: 100%;
    // color: red;
    // color: red;
}