<ion-tabs mode="ios">

  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="member">
      <ion-icon name="people-outline"></ion-icon>
      <ion-label>成员</ion-label>
    </ion-tab-button>

    <!-- <ion-tab-button tab="activities">
      <ion-icon name="options-outline"></ion-icon>
      <ion-label>活动</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="message">
      <ion-icon name="chatbubble-ellipses-outline"></ion-icon>
      <ion-label>消息</ion-label>
    </ion-tab-button> -->

    <ion-tab-button tab="detail">
      <ion-icon name="grid-outline"></ion-icon>
      <ion-label>详情</ion-label>
    </ion-tab-button>
  </ion-tab-bar>

</ion-tabs>