<ion-header>
  <div style="width: 100%;height: 20px;opacity: 0;"></div>
  <ion-toolbar>
    <ion-searchbar mode="ios" class="searchbar" show-cancel-button="always" cancel-button-text="取消" debounce=1000
      (ionCancel)="dissmissSearch()" (ionChange)="getData($event)" placeholder="搜索 {{lessonType}}"
      style="margin-top:10px;"></ion-searchbar>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div *ngIf="flag=='1'">
    <div *ngIf="isTeacher=='1'">
      <ion-list lines="full" *ngFor="let item of lessonList;let i = index">
        <ion-item>
          <ion-grid>
            <ion-row>
              <ion-col size="2">
                <ion-thumbnail class="thum" (click)="getCurrentLesson(i)">
                    <!-- <ion-icon class="thum-icon" color="light" name="cloud-circle-outline"></ion-icon>-->
                    <img src={{item.picture}}>
                </ion-thumbnail>
              </ion-col>
              <ion-col size="6.5">
                <ion-label (click)="getCurrentLesson(i)">
                  <h3>&nbsp;&nbsp;&nbsp;{{item.name}}</h3>
                  <p>&nbsp;&nbsp;&nbsp;{{item.className}}&nbsp;&nbsp;</p>
                  <p>&nbsp;&nbsp;&nbsp;{{item.term}}</p>
                </ion-label>
              </ion-col>
              <ion-col size="3.5">
                <ion-label style="margin-top: auto;padding-left:5px">
                  <!-- <p>&nbsp;&nbsp;</p> -->
                  <p (click)="getCurrentLesson(i)" style="color:#50c8ff">{{item.courseCode}}</p>
                  <ion-label style="text-align: -webkit-right;float: left;" (click)="gotoCheckin(i)">
                    <ion-icon name="shield-checkmark-outline"></ion-icon>
                  </ion-label>
                  <ion-label style="text-align: -webkit-left;" (click)="gotoCheckin(i)">
                    <p style="font-size: 12px;">
                      发起签到
                    </p>
                  </ion-label>
                </ion-label>
              </ion-col>
            </ion-row>
          </ion-grid>
        </ion-item>
      </ion-list>
    </div>

    <div *ngIf="isTeacher=='0'">
      <ion-list lines="full" *ngFor="let item of lessonList;let i = index">
        <!-- <ion-item-divider style="padding-left:0px"> -->
        <ion-item>
          <ion-grid>
            <ion-row>
              <ion-col size="2">
                <ion-thumbnail class="thum" (click)="getCurrentLesson(i)">
                  <!-- <ion-icon class="thum-icon " color="light " name="cloud-circle-outline"></ion-icon> -->
                  <img src={{item.picture}}>
                </ion-thumbnail>
              </ion-col>
              <ion-col size="7">
                <ion-label (click)="getCurrentLesson(i)">
                  <h3>&nbsp;&nbsp;&nbsp;{{item.name}}</h3>
                  <p>&nbsp;&nbsp;&nbsp;{{item.teacherName}}&nbsp;&nbsp;{{item.className}}</p>
                  <p>&nbsp;&nbsp;&nbsp;{{item.term}}</p>
                </ion-label>
              </ion-col>
              <ion-col size="3">
                <ion-label [routerLink]="['/student-checkin']" style="text-align: -webkit-right;">
                  <h3>&nbsp;&nbsp;&nbsp;</h3>
                  <p [routerLink]="['/student-checkin']">
                    <ion-icon name="shield-checkmark-outline"></ion-icon>
                    签到
                  </p>
                </ion-label>
              </ion-col>
            </ion-row>
          </ion-grid>
        </ion-item>
        <!-- </ion-item-divider> -->
      </ion-list>
    </div>
  </div>
  <div *ngIf="flag=='0'">
    <ion-grid>
      <ion-item lines="none"></ion-item>
      <ion-item lines="none"></ion-item>
      <ion-row>
        <ion-col></ion-col>
        <ion-col>
          <img src="../../../../assets/img/empty.png">
        </ion-col>
        <ion-col></ion-col>
      </ion-row>
      <ion-row>
        <ion-col></ion-col>
        <ion-col>
          <ion-label style="text-align: center;">
            <p>空空如也~</p>
          </ion-label>
        </ion-col>
        <ion-col></ion-col>
      </ion-row>
    </ion-grid>
  </div>
</ion-content>