.logout-row {
    margin: auto;
    width: 100%;
    margin-top: 20px;
    width: 90%;
    border-radius: 10px;
    border: solid 1px red;
    margin: auto;
}

.save-row{
    margin: auto;
    width: 100%;
    margin-top: 20px;
    width: 90%;
    border-radius: 10px;
    border: solid 1px #36abe0;
    margin: auto;
}
.logout-btn {
    margin: auto;
    width: 80%;
    color: red;
    // height:-webkit-fill-available;
}

.save-btn{
    margin: auto;
    width: 80%;
    // color: red;
    // color: red;
}