<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
        <ion-button  expand="block" fill="clear" shape="round" [routerLink]="['/lesson-tabs/me']">
            <ion-icon slot="start" name="chevron-back-outline"></ion-icon>返回
        </ion-button>
    </ion-buttons>
      <ion-title style="text-align:center;">用户信息</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  
  <ion-card mode="ios">
      <ion-grid>
          <ion-row>
              <ion-col size="2.5">
                  <ion-avatar>
                      <img src="../../../../assets/img/login.png">
                  </ion-avatar>
                  <!-- <ion-thumbnail>
                      <img src="../../../../assets/icon/head.png">
                  </ion-thumbnail> -->
              </ion-col>
            <ion-col size="9.5">
                <ion-item lines="none" detail [routerLink]="['/user-inf']">
                    <ion-label>
                        <h3>{{user.phone}}{{isTeacher}}</h3>
                       
                        <p *ngIf="user.role == '3'">经验值&nbsp;&nbsp;{{user.exp}}</p>
                    </ion-label>
                </ion-item>
            </ion-col>
              
          </ion-row>
      </ion-grid>
  </ion-card>
 

  <ion-list lines="full">
      <ion-item slot="end">
          <ion-label>姓名</ion-label>
          <ion-input class="my_inf" slot="end" type="text" placeholder="未设置" [(ngModel)]="user.name"></ion-input>
      </ion-item>
      <ion-item slot="end">
          <ion-label>昵称</ion-label>
          <ion-input class="my_inf" slot="end" type="text" placeholder="未设置" [(ngModel)]="user.nickname"></ion-input>
      </ion-item>

      <ion-item>
          <ion-label>工号</ion-label>
          <ion-input class="my_inf" slot="end" type="text" placeholder="未设置" [(ngModel)]="user.sno"></ion-input>
      </ion-item>

      <ion-item>
          <ion-label>手机号</ion-label>
          <ion-input class="my_inf" slot="end" type="text" placeholder="未设置" [(ngModel)]="user.phone"></ion-input>
      </ion-item>
      <ion-item>
          <!-- <ion-item> -->
          <ion-label>出生年月</ion-label>
          <ion-datetime slot="end" value="1990-02-19" placeholder="未设置" [(ngModel)]="user.birth"
              displayFormat="YYYY-MM-DD" cancelText="取消" doneText="确认"></ion-datetime>
          <!-- </ion-item> -->
          <!-- <ion-label>出生年月</ion-label>
    <ion-input class="my_inf" slot="end" type="text" placeholder="未设置" [(ngModel)]="user.birth"></ion-input> -->
      </ion-item>
      <ion-radio-group [(ngModel)]="user.sex" mode="md">
          <ion-item>
              <ion-label>性别</ion-label>
              <ion-radio color="success" value="0" style="margin-left: 100px;"></ion-radio>
              <ion-label style="margin-left: 15px;">男</ion-label>
              <ion-radio color="tertiary" value="1"></ion-radio>
              <ion-label style="margin-left: 15px;">女</ion-label>
              <!-- <ion-input class="my_inf" slot="end" type="text" placeholder="未设置" [(ngModel)]="user.sex"></ion-input> -->
          </ion-item>
      </ion-radio-group>
      <ion-item style="border-top: solid 0.5px #afb2bd;" (click)="openPicker(1,schoolOptions,school,1)">
          <ion-label>学校</ion-label>
          <ion-label class="my_inf" slot="end">{{schoolChoosed}}</ion-label>
      </ion-item>
      <ion-item (click)="openPicker(1,academyOptions,academy,0)">
          <ion-label>学院</ion-label>
          <ion-label class="my_inf" slot="end">{{academyChoosed}}</ion-label>
      </ion-item>
      <ion-item lines="none">
      </ion-item>
  </ion-list>
  <!-- <div style="text-align: center;">
      <ion-button color="secondary" type="submit" class="btn" style="width:90%" (click)="updateInf()"> 保存
      </ion-button>
  </div> -->
  <!-- </form> -->
  <ion-list lines="none">
      <!-- <ion-item class="save-row" lines="none"> -->
      <!-- <ion-button color="secondary" class="save-btn btn" style="width:90%" (click)="updateInf()">注销</ion-button> -->
      <!-- </ion-item> -->
      <ion-item class="save-row" lines="none">
          <ion-button class="save-btn btn" style="width:90%" fill="clear" (click)="updateInf()">保存</ion-button>
      </ion-item>
      <!-- <ion-item-divider lines="none">
      </ion-item-divider> -->

      <!-- <ion-item class="logout-row" lines="none">
          <ion-button class="logout-btn btn" style="width:90%" fill="clear" (click)="onLogout()">注销</ion-button>
      </ion-item> -->
      
      <!-- <ion-item-divider lines="none">
      </ion-item-divider> -->
  </ion-list>
</ion-content>